.dropdown-select {
  display: inline-flex;
  margin-top: 30px;
  width: 100%;
}

.dropdown-select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 599px) {
  .dropdown-select {
    margin-top: 25px;
  }
}
